*{
    scroll-behavior: smooth;
}
.hero__section{
    background: url("../assets/images/hero-img.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__content h2{
    color: aqua;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0px;
    -webkit-text-stroke-width: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero__content p{
    color: #fff;
    line-height: 28px;
}

.hero__section p:nth-child(1){
    font-weight: 500;
}

.buy__btn{
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: aliceblue;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
}

.buy__btn a:hover{
    color: beige;
}

.hero__content{
    padding-top: 40px;
}
.icons{
    margin: 0;
    padding: 0;
    left: 0;
    top: 60%;
    position: fixed;
    z-index: 100;
    transform: translateY(-50%);
}

.icons ul{
    padding: initial;
}

.icons ul li{
    height: 40px;
    width: 40px;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 6px;
    color: white;
    list-style: none;
    cursor: pointer;
}

.icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}

.facebook{
    background: #3b5998;
}

.twitter{
    background: #55acee;
}

.ig{
    background: #f09433;
}

.what{
    background: rgb(28, 119, 28);
}
.topbtn i{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 39px;
    width: 39px;
    text-align: center;
    background: #000000;
    display: 	block;
    border-radius: 3px;
    color: white;
    line-height: 30px;
    font-size: 25px;
    z-index: 9;
    cursor: pointer;
}
@media only screen and (max-width: 992px){
    .hero__content h2{
        font-size: 2rem;
    }

    .section__title{
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 768px){
    .hero__content h2{
        font-size: 1.6rem;
    }

    .hero__content p{
        font-size: 0.9rem;
    }

    .buy__btn{
        font-size: 0.9rem;
    }

    .section__title{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 576px){
    .hero__content{
        padding-top: 0;
        margin-top: 40px;
    }
}